body {
  background-image: url('https://images.unsplash.com/photo-1519681393784-d120267933ba?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1124&q=100');
  background-repeat: no-repeat;
  background-size: cover;
}

.box{
  margin: 100px auto;
  height: 350px;
  width: 300px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 5px;
  backdrop-filter: blur(20px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(200%);
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
}

input, button{
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  border: 1px solid grey;
}

button{
  background-color: blue;
  border: 1px solid blue;
  color: white;
}
